node_modules
vendor
.git
.idea

storage/*.key
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
public/hot
public/storage
docker/mysql
tests
phpunit.xml
Dockerfile
docker-compose.yml
README.md

# Ensure .env is NOT ignored
!.env
